/alire/
/bin/
/config/
/lib/
/obj/
/alire.lock
/tools/obj/
/tools/bin/
/tools/alire/
/tools/config/
/tests/obj/
/tests/bin/
/tests/alire/
/tests/config/
/public_api_smoke/obj/
/public_api_smoke/bin/
/public_api_smoke/alire/
/public_api_smoke/config/
/docs/api/
/obj/gnatprove/
/lib/gnatprove/
*.ali
*.o
*.a
*.bexch
*.lexch
*.cswi
*.stdout
*.stderr
*.bak
*.tmp
*.swp
*.kate-swp
